{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product</title>
</head>
<body class="animsition">
	<!-- Product -->
	<br><br>
	<div class="bg0 m-t-23 p-b-140" style="margin-top:100px;">
		<div class="container">
			

			<div class="row isotope-grid">
				
				<div class="col-sm-12 col-md-8 col-lg-6 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="{{product.product_image.url}}" style="width:250px;height: 300px;" alt="IMG-PRODUCT">

							
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{product.product_name}}
								</a>

								<span class="stext-105 cl3">
									{{product.product_price}}
								</span>
								<span class="stext-105 cl3">
									{{product.product_desc}}
								</span>
								
							</div>
							<a href="{% url 'seller_edit_product' pk=product.pk %}"><input type="button" value="EDIT" class="btn btn-primary"></a>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="{% url 'seller_delete_product' pk=product.pk %}"><input type="button" value="DELETE" class="btn btn-danger"></a>
						</div>
					</div>
				</div>
				

			</div>
		</div>
	</div>
		

</body>
</html>
{% endblock %}